option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ajjal.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /media: media/
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "staticfiles/"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/media/": "media/"
  aws:elasticbeanstalk:environment:proxy:staticfiles_suffix: ''
  aws:elasticbeanstalk:environment:proxy:staticfiles_suffix: ''
