{% extends 'home/index.html' %}

{% block contents %}
<div>로그인 페이지!</div>

<form action="" method="POST">
    {% csrf_token %}

    {% for form in forms %}
    {% if form.name == 'user_id' %}
    <div>
        <label for="{{ form.id_for_label }}">{{ form.label }}</label>
        {{ form }}
    </div>
    {% endif %}
    {% endfor %}

    {% for form in forms %}
    {% if form.name == 'user_pw' %}
    <div>
        <label for="{{ form.id_for_label }}">{{ form.label }}</label>
        {{ form }}
    </div>
    {% endif %}
    {% endfor %}

    {% if error %}
    {{ error }}
    {% endif %}
    <button type="submit" name="register-submit" value="register">로그인하기</button>
</form>
{% endblock contents %}